{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/reservation.css')}}">
    <script src="{{ asset('js/reservation.js') }}" defer="defer"></script>
{% endblock %}

{% block body %}
    <main id="main_0"></main>
    <main id="main_1"></main>
    <main id="main_2">{% include 'accueil/reservation.html' %}</main>
{% endblock %}
