{% extends 'base.html.twig' %}

{% block body %}
    <main id="main_0">{% block main_1 %}{% endblock %}</main>
    <main id="main_1">{% block main_2 %}{% endblock %}</main>
    <main id="main_2">{% block main_3 %}{% endblock %}</main>
{% endblock %}
