<article>
    <h1>Qui sommes-nous?</h1>
    <section>
        <h2>Histoire de Starflight</h2>
        <p>Créée en 2951, l'Alliance des Peuples Unis (APU) a eu pour effet de développer les échanges entre
            les galaxies de la constellation de la Vierge. Starfly, alors compagnie de transport de la Voie
            Lactée, galaxie du Groupe Local, de par sa position géo-stratégique de premier plan et son
            association avec des compagnies de la galaxie d'Archimède, s'est rapidement imposée comme
            l'entreprise la plus adaptée à répondre aux besoins grandissants du transport de personnes et
            de marchandises entre les galaxies. C'est ainsi que Starflight a vu le jour, permettant ainsi à
            x individus et à x tonnes de marchandises de se déplacer à travers la lumière des étoiles.</p>
    </section>
    <section>
        <h2>Notre ambition</h2>
        <p>Vous transportez où vous le souhaitez! Grâce à notre réseau de planètes-relais, de
            planètes-gares, à notre parc de flottes de tourisme et de fret, nous avons pour ambition de
            réaliser tous vos souhaits de voyages ou de transport de marchandises au sein de l'APU.<br/>
            Vous pouvez retrouver notre offre de services ainsi que nos tarifs grâce à notre simulateur
            disponible ici (faire un lien avec la partie résa)
        </p>
    </section>
</article>
