<form action="">
    <h1>Réserve des voyages <br> dans l'espace</h1>
    <label>Choisis ta destination : </label>

    <span class="custom-dropdown custom-dropdown--white">
    <select class="custom-dropdown__select custom-dropdown__select--white">
        <option value="stanton_1">Stanton I - MicroTech</option>
        <option value="stanton_2">Stanton II - Hurston</option>
        <option value="stanton_3">Stanton III - ArcCorp</option>
        <option value="stanton_4">Stanton IV - Crusader</option>
        <option value="terra_3">Terra III - Terra</option>
        <option value="terra_4">Terra IV - Gen</option>
        <option value="terra_4">Terra IV - Gen</option>
        <option value="terra_4">Terra IV - Gen</option>
        <option value="terra_4">Terra IV - Gen</option>
    </select>
</span>
    <h2>Départ :</h2>
    <input type="date" value="">
    <h2>Retour :</h2>
    <input type="date">
    <h2>Voyageurs :</h2>
    <div>
        <button type="button" id="low" class="compteur"></button>
        <p id="voyageur">0</p>
        <button type="button" id="high" class="compteur"></button>
    </div>
    <button type="submit" id="search">GO !</button>
</form>
