<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no,shrink-to-fit=no"/>
        <title>Title</title>
        <meta name="description" content="description de la page"/>
        <style>@import "../../public/css/vaisseau.css";</style>
        <script src="../../public/js/vaisseau.js" defer="defer"></script>
    </head>
    <body>
        <img src="../../public/img/fond.jpg" alt="">
        <article>
            <div class="carousel">
                <img id="carousel" src="../../public/img/aquila.jpg" alt="">
                <button id="btnRight"></button>
                <button id="btnLeft"></button>
            </div>
            <h1 id="shipName">nom vaisseaux</h1>
            <section>
                <h2>Caracteristiques du vaisseau</h2>
                <ul>
                    <li class="star">description</li>
                    <li class="star">capacitée</li>
                    <li class="star">options</li>
                    <li class="star">loisirs</li>
                    <li class="star">évaluations</li>
                    <li class="star">vitesse</li>
                    <li class="star">systeme de protection et armement</li>
                    <li class="star">type de croisiere</li>
                </ul>
            </section>
        </article>


    </body>
</html>
